{
	"token": "",
	"osu_token": "",
	"client_id": "",
	"bot_version": "1.0.0",
	"prefix": "$",
	"ownerID": "",
	"replySet": {
		"noPermsUser": "You need permission to use this command.",
		"noPermsBot": "I don't have permission to do this.",
		"shutdown": "Shutting down...",
		"error": "Please report this to my owner.",
		"serverOnly": "This can't be used in Direct Messages."
	},
	"reportCount": 0
}